<!--<pre>{{ post | json }}</pre>-->
<div class="post-item m-2 mb-4 bg-light p-2 border border-info">
  <h3>{{ post.title }}</h3>
  <h5>Updated At: {{ post.updatedAt | date:'fullDate' }}</h5>
  <div class="post-controls btn-group">
    <button class="btn btn-sm btn-danger" (click)="onDelete()">Delete</button><br />
    <button class="btn btn-sm btn-success" [routerLink]="['/post', post.contentId, 'edit']">Edit</button>
  </div>
  <p>
    {{ post.body }}
  </p>
  <ul>
    <li>{{ post.category.categoryName }}</li>
  </ul>
  <a class="btn btn-primary" [routerLink]="['/post', post.contentId]">Details</a>
</div>
